<body>
  <ion-app>
    <ion-header translucent>
      <app-toolbar [$title]="'Bluetooth'" [$icon]="'calendar-outline'"></app-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-toolbar>
        <ion-item>
          <ion-label>Bluetooth</ion-label>
          <ion-toggle [(ngModel)]="toggleBluet" color="danger" slot="end" (ionChange)="callEvent($event)"></ion-toggle>
        </ion-item>
      </ion-toolbar>

      <ion-item lines="none" class="ion-margin-top">
        <ion-label position="stacked">Mis dispositivos</ion-label>
      </ion-item>

      <ion-card *ngIf="devices.length > 0" class="ion-no-margin">
        <ion-item *ngFor="let device of devices; let i = index">
          <ion-label button (click)="connect(device.address); spin = i" class="ion-text-wrap">
            {{ device.name }}
          </ion-label>

          <ion-spinner *ngIf="loading && spin === i" slot="end" name="lines-small"></ion-spinner>
          <ion-label *ngIf="loadingConn && spin === i" slot="end">Conectado</ion-label>
          <ion-icon (click)="disconnectedDevice(device.address);" name="settings-outline" slot="end">
          </ion-icon>
        </ion-item>
      </ion-card>
    </ion-content>
  </ion-app>
</body>
