<ion-menu side="start" menuId="main-menu" contentId="main" type="overlay">
  <ion-header>
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" height="500">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>H3 Primary Title</h3>
        </ion-text>
        <p>Paragraph line 1</p>
        <ion-text color="secondary">
          <p>Paragraph line 2 secondary</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-header>

  <ion-content>
    <ion-list class="ion-padding-vertical" *ngFor="let menu of menus">
      <ion-item [routerLink]="menu.link">
        <ion-icon slot="start" size="large" [name]="menu.icon">
        </ion-icon>
        <ion-label>{{ menu.title }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar (click)="signOut()">
      <ion-title slot="start" color="danger">Cerrar Sesión</ion-title>

      <ion-buttons slot="primary">
        <ion-button color="danger">
          <ion-icon color="danger" size="large" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
