<body>
  <ion-app>
    <ion-header translucent>
      <app-toolbar [$title]="'Datos Personales'" [$icon]="'id-card-outline'"></app-toolbar>
    </ion-header>

    <ion-content>
      <div>
        <app-register-user [$submit]="submit" [$getPersData]="sendRegister.personaDTO"
                           (userDataRegister)="catchPersonRegister($event)">
        </app-register-user>
      </div>

      <!-- Card Modal -->
      <div>
        <ion-fab id="trigger-button" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button color="danger">
            <ion-icon name="person-add-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>

        <ion-modal mode="'ios' | 'md'" trigger="trigger-button" [swipeToClose]="true"
                   [presentingElement]="routerOutlet.nativeEl">
          <ng-template>
            <ion-content>
              <app-contact-data [$submit]="submit" [$getContData]="sendRegister.contactoDTOList"
                                (contactDataRegister)="catchContactsRegister($event)">
              </app-contact-data>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </ion-content>


    <div>
      <ion-row class="ion-justify-content-center ion-padding-top ion-padding-bottom ion-margin-top">
        <ion-col size="11">
          <ion-button type="button" color="danger" expand="block" (click)="sendSubmit()">
            Registrar
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-app>
</body>
