<body>
  <ion-app>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-card class="ion-text-center">
              <ion-card-header>
                <ion-card-title>Login</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <form #authForm="ngForm" (ngSubmit)="authForm.form.valid && addEvent()" novalidate>
                  <div>
                    <ion-item class="ion-align-items-center">
                      <ion-label position="stacked">Usuario</ion-label>
                      <ion-icon name="at-circle-outline" slot="start" color="danger"></ion-icon>
                      <ion-input type="number" clearInput [(ngModel)]="auth.user" name="user" #user="ngModel"
                                 ngDefaultControl required>
                      </ion-input>
                    </ion-item>

                    <span *ngIf="user.invalid && (user.dirty || user.touched || authForm.submitted)"
                          class="validation-errors">
                      <span class="ion-padding" *ngIf="user.errors?.required">
                        Campo obligatorio
                      </span>
                    </span>
                  </div>

                  <div>
                    <ion-item class="ion-align-items-center">
                      <ion-label position="stacked">Contraseña</ion-label>
                      <ion-icon name="lock-closed-outline" slot="start" color="danger"></ion-icon>
                      <ion-input type="number" clearInput [(ngModel)]="auth.password" name="password"
                                 #password="ngModel" ngDefaultControl required>
                      </ion-input>
                    </ion-item>

                    <span *ngIf="password.invalid && (password.dirty || password.touched || authForm.submitted)"
                          class="validation-errors">
                      <span class="ion-padding" *ngIf="password.errors?.required">
                        Campo obligatorio
                      </span>
                    </span>
                  </div>

                  <br>

                  <ion-row class="ion-justify-content-center">
                    <ion-col size="12">
                      <ion-button type="submitted" color="danger" expand="block" fill="outline">
                        Ingresar
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </form>
              </ion-card-content>
            </ion-card>

            <ion-row class="ion-justify-content-center">
              <ion-col size="5">
                <ion-button type="submitted" color="danger" expand="block" fill="outline" (click)="signIn()">
                  <ion-icon name="logo-google" slot="start" color="danger"></ion-icon>
                  Google
                </ion-button>
              </ion-col>
              <ion-col size="5">
                <ion-button type="submitted" color="tertiary" expand="block" fill="outline" disabled>
                  <ion-icon name="logo-facebook" slot="start" color="tertiary"></ion-icon>
                  Facebook
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-app>
</body>
