<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button menuId="main-menu" color="danger"></ion-menu-button>
  </ion-buttons>
  <ion-title>{{ $title }}</ion-title>
  <ion-buttons slot="end">
    <ion-button color="danger">
      <ion-icon slot="icon-only" [name]="$icon"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
