<body>
    <ion-app>
        <ion-header translucent>
            <app-toolbar [$title]="'Datos Vehiculo'" [$icon]="'car-sport-outline'"></app-toolbar>
        </ion-header>

        <ion-content class="ion-padding">
            <form #vihiculeForm="ngForm" (ngSubmit)="vihiculeForm.form.valid && registerVihicle()" novalidate>
                <div>
                    <ion-item>
                        <ion-label position="floating">Marca</ion-label>
                        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover"
                                    [(ngModel)]="regVihicule.marca" name="marca" #marca="ngModel" ngDefaultControl
                                    required (ionChange)="onChangeMarca($event.detail)">
                            <ion-select-option *ngFor="let marca of listaMaestraMarcaDTO" [value]="marca.id">
                                {{ marca.descripcin | titlecase }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>

                    <span *ngIf="marca.invalid && (marca.dirty || marca.touched || vihiculeForm.submitted)"
                          class="validation-errors">
                        <span class="ion-padding" *ngIf="marca.errors?.required">
                            Campo obligatorio
                        </span>
                    </span>
                </div>

                <div>
                    <ion-item>
                        <ion-label position="floating">Placa</ion-label>
                        <ion-input clearInput [(ngModel)]="regVihicule.placa" name="placa" #placa="ngModel"
                                   ngDefaultControl required>
                        </ion-input>
                    </ion-item>

                    <span *ngIf="placa.invalid && (placa.dirty || placa.touched || vihiculeForm.submitted)"
                          class="validation-errors">
                        <span class="ion-padding" *ngIf="placa.errors?.required">
                            Campo obligatorio
                        </span>
                    </span>
                </div>

                <div>
                    <ion-item>
                        <ion-label position="floating">Modelo</ion-label>
                        <ion-input clearInput [(ngModel)]="regVihicule.modelo" name="modelo" #modelo="ngModel"
                                   ngDefaultControl required>
                        </ion-input>
                    </ion-item>

                    <span *ngIf="modelo.invalid && (modelo.dirty || modelo.touched || vihiculeForm.submitted)"
                          class="validation-errors">
                        <span class="ion-padding" *ngIf="modelo.errors?.required">
                            Campo obligatorio
                        </span>
                    </span>
                </div>

                <div>
                    <ion-item>
                        <ion-label position="floating">Combustible</ion-label>
                        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover"
                                    [(ngModel)]="regVihicule.combustilbe" name="combustilbe" #combustilbe="ngModel"
                                    ngDefaultControl required (ionChange)="onChangeCombustible($event.detail)">
                            <ion-select-option *ngFor="let combustible of listaMaestraCombustibleDTO"
                                               [value]="combustible.id">
                                {{ combustible.descripcin | titlecase }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>

                    <span *ngIf="combustilbe.invalid && (combustilbe.dirty || combustilbe.touched || vihiculeForm.submitted)"
                          class="validation-errors">
                        <span class="ion-padding" *ngIf="combustilbe.errors?.required">
                            Campo obligatorio
                        </span>
                    </span>
                </div>

                <div>
                    <ion-item>
                        <ion-label position="floating">Color</ion-label>
                        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover"
                                    [(ngModel)]="regVihicule.color" name="color" #color="ngModel" ngDefaultControl
                                    required (ionChange)="onChangeColor($event.detail)">
                            <ion-select-option *ngFor="let color of listaMaestraColorDTO" [value]="color.id">
                                {{ color.descripcin | titlecase }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>

                    <span *ngIf="color.invalid && (color.dirty || color.touched || vihiculeForm.submitted)"
                          class="validation-errors">
                        <span class="ion-padding" *ngIf="color.errors?.required">
                            Campo obligatorio
                        </span>
                    </span>
                </div>

                <div>
                    <ion-item>
                        <ion-label position="floating">Cilindraje</ion-label>
                        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover"
                                    [(ngModel)]="regVihicule.cleidcilindraje" name="cleidcilindraje"
                                    #cleidcilindraje="ngModel" ngDefaultControl required
                                    (ionChange)="onChangeCilindraje($event.detail)">
                            <ion-select-option *ngFor="let cilindraje of listaMaestraCilindrajeDTO"
                                               [value]="cilindraje.id">
                                {{ cilindraje.descripcin | titlecase }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>

                    <span *ngIf="cleidcilindraje.invalid && (cleidcilindraje.dirty || cleidcilindraje.touched || vihiculeForm.submitted)"
                          class="validation-errors">
                        <span class="ion-padding" *ngIf="cleidcilindraje.errors?.required">
                            Campo obligatorio
                        </span>
                    </span>
                </div>

                <div>
                    <ion-item>
                        <ion-label position="floating">Peso</ion-label>
                        <ion-input type="number" clearInput [(ngModel)]="regVihicule.peso" name="peso" ngDefaultControl>
                        </ion-input>
                    </ion-item>
                </div>

                <div>
                    <ion-item>
                        <ion-label position="floating">Número motor</ion-label>
                        <ion-input type="number" clearInput [(ngModel)]="regVihicule.numMotor" name="numMotor"
                                   ngDefaultControl>
                        </ion-input>
                    </ion-item>
                </div>

                <div>
                    <ion-item>
                        <ion-label position="floating">Número chasis</ion-label>
                        <ion-input type="number" clearInput [(ngModel)]="regVihicule.numChasis" name="numChasis"
                                   ngDefaultControl>
                        </ion-input>
                    </ion-item>
                </div>

                <div>
                    <ion-item>
                        <ion-label position="floating">Vin</ion-label>
                        <ion-input type="number" clearInput [(ngModel)]="regVihicule.vin" name="vin" ngDefaultControl>
                        </ion-input>
                    </ion-item>
                </div>

                <div>
                    <ion-item>
                        <ion-label position="floating">linea</ion-label>
                        <ion-input clearInput [(ngModel)]="regVihicule.linea" name="linea" ngDefaultControl>
                        </ion-input>
                    </ion-item>
                </div>

                <div>
                    <ion-item>
                        <ion-label position="floating">Referencia</ion-label>
                        <ion-input clearInput [(ngModel)]="regVihicule.referencia" name="referencia" ngDefaultControl>
                        </ion-input>
                    </ion-item>
                </div>

                <div>
                    <ion-item>
                        <ion-label position="floating">Clase</ion-label>
                        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover"
                                    [(ngModel)]="regVihicule.clase" name="clase"
                                    (ionChange)="onChangeTypeDoc($event.detail)" ngDefaultControl>
                            <ion-select-option [value]="document">
                                {{ 'AAAAAAA' | titlecase }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>

                <br>

                <ion-row class="ion-justify-content-center ion-padding-top ion-margin-top">
                    <ion-col size="11">
                        <ion-button type="submitted" color="danger" expand="block">
                            Registrar
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </ion-content>
    </ion-app>
</body>
