<body>
  <ion-app>
    <ion-header translucent>
      <app-toolbar [$title]="'Configuración servicio'" [$icon]="'calendar-outline'"></app-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <div class="ion-padding" *ngIf="!event$">
        <ion-item>
          <ion-label position="floating">Kilometraje actual</ion-label>
          <ion-input type="number" clearInput [(ngModel)]="miliage.kilometraje" name="kilometraje"
                     #kilometraje="ngModel" ngDefaultControl required>
          </ion-input>
        </ion-item>
      </div>

      <div class="ion-padding">
        <app-form-events (eventNew)="event$ = $event">
        </app-form-events>
      </div>

      <br>

      <div>
        <app-events-table [$eventsTable]="event$" [$submit]="submit" (dataEvents)="catchEventsData($event)">
        </app-events-table>
      </div>
    </ion-content>

    <div>
      <ion-row class="ion-justify-content-center ion-padding-top ion-padding-bottom ion-margin-top">
        <ion-col size="11">
          <ion-button type="button" color="danger" expand="block" (click)="sendSubmit()">
            Registrar
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-app>
</body>
