<ion-app>
    <ion-content class="ion-padding">
        <div>
            <form #addContactForm="ngForm" (ngSubmit)="addContactForm.form.valid && addContacts()" novalidate>
                <ion-row>
                    <ion-col size="6">
                        <ion-item>
                            <ion-select interface="popover" placeholder="Tipo de contacto"
                                        [(ngModel)]="contactInit.tipocontactoStr" name="tipocontacto"
                                        #tipocontacto="ngModel" ngDefaultControl required
                                        (ionChange)="onChangeTypeCont($event.detail)">
                                <ion-select-option *ngFor="let contact of listaMaestraContactoDTO" [value]="contact">
                                    {{ contact.descripcin }}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>

                        <span *ngIf="tipocontacto.invalid && (tipocontacto.dirty || tipocontacto.touched || addContactForm.submitted)"
                              class="validation-errors">
                            <span class="ion-padding" *ngIf="tipocontacto.errors?.required">
                                Campo obligatorio
                            </span>
                        </span>
                    </ion-col>

                    <ion-col size="6">
                        <ion-item>
                            <ion-input type="number" clearInput placeholder="Dato de contacto" required
                                       [(ngModel)]="contactInit.valor" name="valor" #valor="ngModel" ngDefaultControl>
                            </ion-input>
                        </ion-item>

                        <span *ngIf="valor.invalid && (valor.dirty || valor.touched || addContactForm.submitted)"
                              class="validation-errors">
                            <span class="error-message ion-padding" *ngIf="valor.errors?.required">
                                Campo obligatorio
                            </span>
                        </span>
                    </ion-col>
                </ion-row>

                <ion-row class="ion-justify-content-end ion-padding-bottom">
                    <ion-col size="6">
                        <ion-button type="submit" color="danger" expand="block">
                            {{ index ? 'Actualizar' : 'Agregar' }}
                        </ion-button>
                    </ion-col>
                </ion-row>
            </form>
        </div>

        <!-- Theme classes dark, material, bootstrap -->
        <div>
            <ngx-datatable class="bootstrap" [ngClass]="tablestyle" [limit]="5" [rows]="contacts" [rowHeight]="50"
                           [columnMode]="'force'" [headerHeight]="50" [footerHeight]="40">
                <ngx-datatable-column>
                    <ng-template let-column="column" ngx-datatable-header-template>
                        Tipo
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.tipocontactoStr?.descripcin}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template let-column="column" ngx-datatable-header-template>
                        Dato
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.valor}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Acciones" [resizeable]="false">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <ion-button slot="icon-only" size="small" color="success" fill="clear"
                                    (click)="editContact(row, rowIndex)">
                            <ion-icon name="create-outline"></ion-icon>
                        </ion-button>
                        <ion-button slot="icon-only" size="small" color="danger" fill="clear"
                                    (click)="deleteContact(rowIndex)">
                            <ion-icon name="trash-outline"></ion-icon>
                        </ion-button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>

        <ion-row class="ion-justify-content-end ion-padding-top ion-padding-bottom ion-margin-top">
            <ion-col>
                <ion-button type="button" (click)="sendContData()" color="danger" expand="full" fill="outline">
                    Guardar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-content>
</ion-app>
