<body>
  <ion-app>
    <ion-header translucent>
      <app-toolbar [$title]="'Mantenimientos'" [$icon]="'construct'"></app-toolbar>
    </ion-header>
  </ion-app><br><br><br><br>
  <ngx-datatable class="bootstrap" [limit]="6" [rows]="controlEstadoMotoDTOList" class="material"
    [columnMode]="columnMode.flex" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [reorderable]="true" [scrollbarH]="true">
    <ngx-datatable-column name="Tipo evento" [flexGrow]="30">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.descripcion}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Km de revision" [flexGrow]="25">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.kilometraje}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Fecha y Hora" [flexGrow]="25">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.fecha}}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</body>
