<!-- Theme classes dark, material, bootstrap -->
<ngx-datatable class="bootstrap" [limit]="5" [rows]="events" [rowHeight]="50" [columnMode]="'force'" [headerHeight]="50"
               [footerHeight]="40">
  <ngx-datatable-column>
    <ng-template let-column="column" ngx-datatable-header-template>
      Tipo evento
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.evtideventoString?.descripcin}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template let-column="column" ngx-datatable-header-template>
      Kmj. Notific.
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.kntkilometraje}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Acciones" [resizeable]="false">
    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
      <ion-button slot="icon-only" size="small" color="danger" fill="clear" (click)="deleteEvn(rowIndex)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
