<body>
  <ion-app>
    <ion-header translucent>
      <app-toolbar [$title]="'Recorridos'" [$icon]="'clipboard'"></app-toolbar>
    </ion-header>
  </ion-app><br><br><br><br>
  <ngx-datatable class="bootstrap" [limit]="7" [rows]="controlEstadoMotoDTOList" class="material"
    [columnMode]="columnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="50" [reorderable]="true">
    <ngx-datatable-column name="Fecha y Hora" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.fecha}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Km Recorrido" [flexGrow]="2">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.kilometraje}}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</body>
