<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#"></ion-back-button>
  </ion-buttons>
  <ion-title>{{ $title }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="signOut()">
      <ion-icon slot="icon-only" [name]="$icon"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
