<body>
  <ion-app>
    <ion-header translucent>
      <app-toolbar [$title]="'Configuración servicio'" [$icon]="'calendar'"></app-toolbar>
    </ion-header>

    <ion-content>
      <div class="ion-padding">
        <form #eventForm="ngForm" (ngSubmit)="eventForm.form.valid && saveEvent()" novalidate>
          <div>
            <ion-item>
              <ion-label position="floating">Tipo evento</ion-label>
              <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" [(ngModel)]="event.evtidevento"
                          name="evtidevento" #evtidevento="ngModel" ngDefaultControl required
                          (ionChange)="onChangeEvent($event.detail)">
                <ion-select-option *ngFor="let maestroEvent of listaMaestraEventosDTO" [value]="maestroEvent.id">
                  {{ maestroEvent.descripcin | titlecase }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <span *ngIf="evtidevento.invalid && (evtidevento.dirty || evtidevento.touched || eventForm.submitted)"
                  class="validation-errors">
              <span class="ion-padding" *ngIf="evtidevento.errors?.required">
                Campo obligatorio
              </span>
            </span>
          </div>

          <div>
            <ion-item>
              <ion-label position="floating">Kilometraje notificacion</ion-label>
              <ion-input type="number" clearInput [(ngModel)]="event.kntkilometraje" name="kntkilometraje"
                         #kntkilometraje="ngModel" ngDefaultControl required>
              </ion-input>
            </ion-item>

            <span *ngIf="kntkilometraje.invalid && (kntkilometraje.dirty || kntkilometraje.touched || eventForm.submitted)"
                  class="validation-errors">
              <span class="ion-padding" *ngIf="kntkilometraje.errors?.required">
                Campo obligatorio
              </span>
            </span>
          </div>

          <div>
            <ion-item>
              <ion-label position="floating">Kilometraje revision</ion-label>
              <ion-input type="number" clearInput [(ngModel)]="event.kilometrajevalidador" name="kilometrajevalidador"
                         #kilometrajevalidador="ngModel" ngDefaultControl required>
              </ion-input>
            </ion-item>

            <span *ngIf="kilometrajevalidador.invalid && (kilometrajevalidador.dirty || kilometrajevalidador.touched || eventForm.submitted)"
                  class="validation-errors">
              <span class="ion-padding" *ngIf="kilometrajevalidador.errors?.required">
                Campo obligatorio
              </span>
            </span>
          </div>

          <br>

          <ion-row class="ion-justify-content-center">
            <ion-col size="11">
              <ion-button type="submitted" color="danger" expand="block" fill="outline">
                {{ titleButt }}
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </div>

      <br>

      <div>
        <!-- Theme classes dark, material, bootstrap -->
        <ngx-datatable class="bootstrap" [limit]="5" [rows]="events" [headerHeight]="50" [footerHeight]="50"
                       columnMode="force" [rowHeight]="'auto'">
          <ngx-datatable-column name="Tipo evento" [width]="150">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.descripcin}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Km. Notif.">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.kntkilometraje}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Km. Rev.">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.kilometrajevalidador}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Acciones">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <span>
                <ion-icon name="create-outline" size="small" color="success" (click)="editEvent(row)">
                </ion-icon>
                <ion-icon name="trash-outline" size="small" color="danger" (click)="deleteEvn(row)"></ion-icon>
                <ion-icon name="checkmark-circle-outline" size="small" color="warning" (click)="attendEvent(rowIndex)">
                </ion-icon>
              </span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </ion-content>
  </ion-app>
</body>
