<form #eventForm="ngForm" (ngSubmit)="eventForm.form.valid && addEvent()" novalidate>
    <div>
        <ion-item>
            <ion-label position="floating">Tipo evento</ion-label>
            <ion-select [interfaceOptions]="customPopoverOptions" interface="popover"
                        [(ngModel)]="event.evtideventoString" name="evtidevento" #evtidevento="ngModel" ngDefaultControl
                        required (ionChange)="onChangeEvent($event.detail)">
                <ion-select-option *ngFor="let maestroEvent of listaMaestraEventosDTO" [value]="maestroEvent">
                    {{ maestroEvent.descripcin | titlecase }}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <span *ngIf="evtidevento.invalid && (evtidevento.dirty || evtidevento.touched || eventForm.submitted)"
              class="validation-errors">
            <span class="ion-padding" *ngIf="evtidevento.errors?.required">
                Campo obligatorio
            </span>
        </span>
    </div>

    <div>
        <ion-item>
            <ion-label position="floating">Kilometraje notificacion</ion-label>
            <ion-input type="number" clearInput [(ngModel)]="event.kntkilometraje" name="kntkilometraje"
                       #kntkilometraje="ngModel" ngDefaultControl required>
            </ion-input>
        </ion-item>

        <span *ngIf="kntkilometraje.invalid && (kntkilometraje.dirty || kntkilometraje.touched || eventForm.submitted)"
              class="validation-errors">
            <span class="ion-padding" *ngIf="kntkilometraje.errors?.required">
                Campo obligatorio
            </span>
        </span>
    </div>

    <div>
        <ion-item>
            <ion-label position="floating">Kilometraje revision</ion-label>
            <ion-input type="number" clearInput [(ngModel)]="event.kilometrajevalidador" name="kilometrajevalidador"
                       #kilometrajevalidador="ngModel" ngDefaultControl required>
            </ion-input>
        </ion-item>

        <span *ngIf="kilometrajevalidador.invalid && (kilometrajevalidador.dirty || kilometrajevalidador.touched || eventForm.submitted)"
              class="validation-errors">
            <span class="ion-padding" *ngIf="kilometrajevalidador.errors?.required">
                Campo obligatorio
            </span>
        </span>
    </div>

    <div>
        <ion-item>
            <ion-label position="floating">Duración (HH)</ion-label>
            <ion-input type="number" clearInput [(ngModel)]="event.ntduracion" name="ntduracion" #ntduracion="ngModel"
                       ngDefaultControl required>
            </ion-input>
        </ion-item>

        <span *ngIf="ntduracion.invalid && (ntduracion.dirty || ntduracion.touched || eventForm.submitted)"
              class="validation-errors">
            <span class="ion-padding" *ngIf="ntduracion.errors?.required">
                Campo obligatorio
            </span>
        </span>
    </div>

    <div>
        <ion-item>
            <ion-label position="floating">Cant. Repeticiones</ion-label>
            <ion-select [interfaceOptions]="customPopoverOptions" interface="popover"
                        [(ngModel)]="event.ntnumrepeticion" name="ntnumrepeticion" ngDefaultControl
                        (ionChange)="onChangeMarca($event.detail)">
                <ion-select-option *ngFor="let maestroEvent of listaMaestraEventosDTO" [value]="maestroEvent.id">
                    {{ maestroEvent.descripcin | titlecase }}
                </ion-select-option>
            </ion-select>
        </ion-item>
    </div>

    <div>
        <ion-item>
            <ion-label position="floating">Tiempo espera repet.</ion-label>
            <ion-input type="number" clearInput [(ngModel)]="event.nttiemporepeticion" name="nttiemporepeticion"
                       ngDefaultControl>
            </ion-input>
        </ion-item>
    </div>

    <br>

    <ion-row class="ion-justify-content-center">
        <ion-col size="11">
            <ion-button type="submitted" color="danger" expand="block" fill="outline">
                Agregar
            </ion-button>
        </ion-col>
    </ion-row>
</form>
